doctype html
html(lang='de')
    head
        title= title

        //- Meta Tags
        meta(
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        )
        meta(charset="UTF-8")

        //- CSS Files
        link(rel="stylesheet" href="/css/icrate-styles.css")

        //- JavaScript files
        //- script(type="module" src="/js/icrate-constants.js")
        //- script(type="module" src="/js/icrate-variables.js")
        //- script(type="module" src="/js/icrate-functions.js")
        //- script(type="module" src="/js/icrate-indoctrinations.js")
        //- script(type="module" src="/js/icrate-observers.js")
        //- script(type="module" src="/js/icrate-run.js")
        script(type="module" src="/js/icrate-client.js")
        script(src="/js/icrate-run.js")
    body
        #cto-indoctrination-observer
            .cto-tactic-usage
            .cto-aggression-bar
            .cto-strategy-indicator
        #hzd-indoctrination-observer
            .hzd-barrier-health
            .hzd-sensor-detection
            .hzd-trapping-indicator
        #fae-indoctrination-observer
            .fae-attack-vector
            .fae-aiming-interface
            .fae-weapon-indicator
        main(id="icrate-wrapper-main")
            block icrate-content
        include footer.pug