doctype html
html(lang='de')
    head
        title= title

        //- Meta Tags
        meta(
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        )
        meta(charset="UTF-8")

        //- CSS Files
        link(rel="stylesheet" href="/css/icrate-styles.css")

        //- JavaScript files
        script(src="/js/icrate-variables.js")
        script(src="/js/icrate-functions.js")
        script(src="/js/icrate-observers.js")
    body
        main(id="icrate-wrapper-main")
            block icrate-content
        include footer.pug