/*Image URLs */
// Under Construction Image
$under-construction-img: url("/img/icrate-under-construction.png");

// CI Gradient
$ci-gradient-img: url("/img/icrate-gradient-ci.png");

// impact-z.one Logos
$iz-logo-main: url("/img/icrate-iz-logo-big.png");
$iz-logo-gif: url("/img/icrate-iz-logo-animated.gif");
$iz-logo-silver: url("/img/icrate-iz-logo-silver.png");
$iz-logo-anthrazit: url("/img/icrate-iz-logo-anthrazit.png");
$iz-logo-white: url("/img/icrate-iz-logo-white.png");

// impact-z.one Insingnias
$iz-insignia-silver: url("/img/icrate-iz-insignia-silver.png");
$iz-insignia-anthrazit: url("/img/icrate-iz-insignia-anthrazit.png");
$iz-insignia-white: url("/img/icrate-iz-insignia-white.png");

// Backgrounds
$icrate-background-01: url("/img/icrate-bg-01.jpg");

// Buttons
$icrate-button-01: url("/img/icrate-button-01.png");

// Cursors: url("/img/svg/mouse/");
$icrate-cursor-initial-white: url("/img/svg/mouse/cursor-initial-white.svg");

$icrate-hourglass-full: url("/img/svg/mouse/hourglass-auth-full.svg");

$icrate-cursor-default: url("/img/svg/mouse/cursor-auth-default.svg");
$icrate-cursor-text: url("/img/svg/mouse/cursor-auth-text.svg");
$icrate-cursor-click: url("/img/svg/mouse/cursor-auth-click-.svg");
$icrate-cursor-sonar: url("/img/svg/mouse/cursor-auth-sonar.svg");
$icrate-cursor-hourglass: url("/img/svg/mouse/cursor-auth-hourglass.svg");
$icrate-cursor-light: url("/img/svg/mouse/cursor-auth-light.svg");

$icrate-cursor-expand-horizontal: url("/img/svg/mouse/cursor-auth-expand-horizontal.svg");
$icrate-cursor-expand-vertical: url("/img/svg/mouse/cursor-auth-expand-vertical.svg");
$icrate-cursor-resize-horizontal: url("/img/svg/mouse/cursor-auth-resize-horizontal.svg");
$icrate-cursor-resize-vertical: url("/img/svg/mouse/cursor-auth-resize-vertical.svg");
$icrate-cursor-plus: url("/img/svg/mouse/cursor-auth-plus.svg");
$icrate-cursor-minus: url("/img/svg/mouse/cursor-auth-minus.svg");
$icrate-cursor-zoom-in: url("/img/svg/mouse/cursor-auth-zoom-in.svg");
$icrate-cursor-zoom-out: url("/img/svg/mouse/cursor-auth-zoom-out.svg");

$icrate-pointer-finger: url("/img/svg/mouse/pointer-auth-finger.svg");
$icrate-pointer-click: url("/img/svg/mouse/pointer-auth-click.svg");
$icrate-pointer-open-hand: url("/img/svg/mouse/pointer-auth-open-hand.svg");

$icrate-pointer-plus: url("/img/svg/mouse/pointer-auth-plus.svg");
$icrate-pointer-minus: url("/img/svg/mouse/pointer-auth-minus.svg");
$icrate-pointer-hold-horizontal: url("/img/svg/mouse/pointer-auth-hold-horizontal.svg");
$icrate-pointer-hold-vertical: url("/img/svg/mouse/pointer-auth-hold-vertical.svg");
$icrate-pointer-swipe-right: url("/img/svg/mouse/pointer-auth-swipe-right.svg");
$icrate-pointer-swipe-left: url("/img/svg/mouse/pointer-auth-swipe-left.svg");