@import "icrate-ressource-locations";

// Responsiveness thresholds
$small-width: 480px;
$medium-width: 768px;
$large-width: 1024px;

// Atomic Values
$atomic-space-factor: 3px;

// Footer
$footer-height: 25px;
$footer-height-double: calc(2 * $footer-height);

/* Corporate Identity */
// CI Colors with Shadow
$ci-color-primary: #f3d98fff;
$ci-color-primary-shadow: #dfbe7aff;
$ci-color-secondary: #d3aa61ff;
$ci-color-secondary-shadow: #dab678ff;

$ci-color-dark: #040404ff;

// CI Font
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&family=Orbitron:wght@400;500;600;700;800;900&display=swap");
$ci-font-primary: "Assistant";
$ci-font-family-primary: $ci-font-primary, sans-serif;
$ci-font-secondary: "Orbitron";
$ci-font-family-secondary: $ci-font-secondary, sans-serif;
$ci-font-size-small: 10px;
$ci-font-size-medium: 12px;
$ci-font-size-big: 13.5px;
$ci-font-size-identifier: 15px;

$border-within-header: 0.5px solid white;
$space-for-header: calc(4 * $atomic-space-factor);

$drop-button-shadow-gradient: linear-gradient(90deg, rgba(255, 192, 0, 1) 0%, rgba(237, 125, 49, 1) 100%);
$drop-button-shadow-gradient-reverse: linear-gradient(90deg, rgba(237, 125, 49, 0) 0%, rgba(255, 192, 0, 0) 100%);

$drop-button-shadow-from: rgba(255, 192, 0, 0.1);
$drop-button-shadow-to: #ed7d31;

// Footer things
$space-for-footer: $space-for-header;
$border-within-footer: $border-within-header;

// Cursor
$cursor-width: 26px;
$cursor-height: 26px;

$login-button-transition-out: all 1s ease-in 0.1s; //0.1s;
$login-button-transition-in: all 1s ease-out 0s; // 0.1s;

$login-button-transition-even: all 0.85s ease 0.05s;
//$login-button-transition-out: $login-button-transition-even;
//$login-button-transition-in: $login-button-transition-even;

$reflection-transition-out: all 3s ease-in 0.1s;
$reflection-transition-in: all 3s ease-out 0.2s;

$color-indicator-light-white: #ecebdd;
$color-indicator-light-red: #ff6e6e;
$color-indicator-light-green: #3bff44;
$color-indicator-light-green-transparent: #3bff4400;
$color-indicator-light-blue: #2adfff;
$color-indicator-light-orange: #ed7d31;
$color-indicator-light-yellow: #ffe96c;

$color-indicator-dark-white: #b4b3af;
$color-indicator-dark-red: #7a0202;
$color-indicator-dark-green: #08720e;
$color-indicator-dark-blue: #106979;
$color-indicator-dark-orange: #9e4014;
$color-indicator-dark-yellow: #7e7c00;
