@import "icrate-ressource-locations";

// Responsiveness thresholds
$small-width: 480px;
$medium-width: 768px;
$large-width: 1024px;

// Atomic Values
$atomic-space-factor: 3px;

// Footer
$footer-height: 25px;
$footer-height-double: calc(2 * $footer-height);

/* Corporate Identity */
// CI Colors with Shadow
$ci-color-primary: #f3d98fff;
$ci-color-primary-shadow: #dfbe7aff;
$ci-color-secondary: #d3aa61ff;
$ci-color-secondary-shadow: #dab678ff;

// CI Font
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&family=Orbitron:wght@400;500;600;700;800;900&display=swap");
$ci-font-primary: "Assistant";
$ci-font-family-primary: $ci-font-primary, sans-serif;
$ci-font-secondary: "Orbitron";
$ci-font-family-secondary: $ci-font-secondary, sans-serif;
$ci-font-size-small: 10px;
$ci-font-size-medium: 12px;
$ci-font-size-big: 13.5px;
