/*Image URLs */
// Under Construction Image
$under-construction-img: url("/img/icrate-under-construction.png");

// CI Gradient
$ci-gradient-img: url("/img/icrate-gradient-ci.png");

// impact-z.one Logos
$iz-logo-main: url("/img/icrate-iz-logo-big.png");
$iz-logo-gif: url("/img/icrate-iz-logo-animated.gif");
$iz-logo-silver: url("/img/icrate-iz-logo-silver.png");
$iz-logo-anthrazit: url("/img/icrate-iz-logo-anthrazit.png");
$iz-logo-white: url("/img/icrate-iz-logo-white.png");

// impact-z.one Insingnias
$iz-insignia-silver: url("/img/icrate-iz-insignia-silver.png");
$iz-insignia-anthrazit: url("/img/icrate-iz-insignia-anthrazit.png");
$iz-insignia-white: url("/img/icrate-iz-insignia-white.png");

// Backgrounds
$icrate-background-01: url("/img/icrate-bg-01.jpg");

// Buttons
$icrate-button-01: url("/img/icrate-button-01.png");