@mixin icrate-input {
    border: 0.5px solid black;
    padding: 3px;
    min-width: 125px;
    @content;
}

@mixin icrate-button {
    border: 0.5px solid black;
    padding: 3px;
    min-width: 125px;
    @content;
}

@mixin icrate-button-ghost {
    border: 0.5px solid black;
    padding: 3px;
    min-width: 125px;
    @content;
}

@mixin icrate-button-submit {
    border: 0.5px solid black;
    padding: 3px;
    min-width: 125px;
    @content;
}

@mixin flex-centered-horizontal {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    @content;
}

@mixin flex-centered-full {
    display: flex;
    margin: auto;
    @content;
}

@mixin body-greedy-grow {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 100%;
    max-height: 100%;
    min-height: 100%;

    overflow: hidden;

    @content;
}
