/*Image URLs */
/* Corporate Identity */
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&family=Orbitron:wght@400;500;600;700;800;900&display=swap");
/* Cursor Definitions */
/* Body Start */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  height: calc(100vh - 43px);
  max-height: calc(100vh - 43px);
  min-height: calc(100vh - 43px);
  overflow: hidden;
  box-sizing: border-box;
  /* Style all elements here */
  /* General Styles applied to all buttons on any subpage  */
  /* Interactive Component, beginning to go on ther users nerves the longer he isn't doing something */
  /* Interactive Component, fortifying a surrounding with the input elements in the middle / detection range */
  /* Interactive Component, fortifying a surrounding with the input elements in the middle / detection range */
}
body * {
  font-family: "Assistant", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.2em;
  color: #ecebdd;
  outline-color: #ecebdd;
  -webkit-text-decoration-color: #ecebdd;
          text-decoration-color: #ecebdd;
}
body input[type=text],
body input[type=password] {
  color: #106979;
  outline-color: #ffe96c;
  -webkit-text-decoration-color: #ffe96c;
          text-decoration-color: #ffe96c;
  text-shadow: 1px 1px 1.5px #7e7c00;
}
body input[type=text]::-moz-placeholder, body input[type=password]::-moz-placeholder {
  color: #9e4014;
  outline-color: #d3aa61;
  text-decoration-color: #d3aa61;
  text-shadow: 1px 1px 1.5px #f3d98f;
}
body input[type=text]:-ms-input-placeholder, body input[type=password]:-ms-input-placeholder {
  color: #9e4014;
  outline-color: #d3aa61;
  text-decoration-color: #d3aa61;
  text-shadow: 1px 1px 1.5px #f3d98f;
}
body input[type=text]::placeholder,
body input[type=password]::placeholder {
  color: #9e4014;
  outline-color: #d3aa61;
  -webkit-text-decoration-color: #d3aa61;
          text-decoration-color: #d3aa61;
  text-shadow: 1px 1px 1.5px #f3d98f;
}
body *[id^=input-mandatory-description-] {
  margin-bottom: -20px;
  margin-left: 120px;
  margin-top: 25px;
  caret-color: transparent;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  transition: all 1s ease-out 0s;
  color: #7a0202;
  opacity: 0;
  letter-spacing: 3px;
}
body *[id^=input-mandatory-description-] b {
  color: #3bff44;
}
body *[id^=input-mandatory-description-].hovering-input:not(.entered-input) {
  transition: all 1s ease-out 0s;
  color: #ff6e6e;
  opacity: 1;
  letter-spacing: 6px;
}
body *[id^=input-mandatory-description-].focusing-input:not(.entered-input) {
  transition: all 1s ease-out 0s;
  color: #2adfff;
  opacity: 1;
  letter-spacing: 1px;
}
body *[id^=input-mandatory-description-].entered-input {
  transition: all 1s ease-out 0s;
  color: #3bff44;
  opacity: 1;
  letter-spacing: 3px;
}
body button {
  transition: all 1s ease-in 0.1s;
  display: flex;
  color: #ecebdd;
  filter: drop-shadow(0px 0px 0px rgba(255, 192, 0, 0.1));
  /* The not hovered Button Label */
  /* The not hovered pre content element (Resides inside of the buttons circle on the left) */
  /* The hovered Button */
}
body button .icrate-button-label {
  transition: all 1s ease-in 0.1s;
  letter-spacing: 3px;
  padding: 0;
  display: flex;
  font-size: 18px;
  margin: auto;
  align-items: center;
  align-content: center;
  justify-items: flex-start;
  justify-content: flex-start;
}
body button::before {
  transition: all 1s ease-out 0s;
  opacity: 0;
  display: flex;
  box-sizing: content-box;
  font-family: "Orbitron", sans-serif;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 31px;
  width: 60px;
  height: 60px;
  font-size: 20px;
  line-height: 25px;
  font-weight: 900;
  align-items: center;
  align-content: center;
  justify-items: flex-start;
  justify-content: flex-start;
  content: "x";
}
body button:hover {
  transition: all 1s ease-out 0s;
  color: #ffc000;
  filter: drop-shadow(5px 5px 5px #ed7d31);
  /* The hovered Button Label */
  /* The hovered pre content element (Resides inside of the buttons circle on the left) */
}
body button:hover .icrate-button-label {
  transition: all 1s ease-out 0s;
  letter-spacing: 12px;
  padding: 0 31px 0 0;
  display: flex;
  font-size: 18px;
  margin: auto;
  align-items: center;
  align-content: center;
  justify-items: flex-start;
  justify-content: flex-start;
}
body button:hover::before {
  transition: all 1s ease-in 0.1s;
  opacity: 1;
  color: #ed7d31;
  display: flex;
  box-sizing: content-box;
  font-family: "Orbitron", sans-serif;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 31px;
  width: 60px;
  height: 60px;
  font-size: 20px;
  line-height: 25px;
  font-weight: 900;
  align-items: center;
  align-content: center;
  justify-items: flex-start;
  justify-content: flex-start;
  content: "#";
}
body button.validate-input {
  filter: drop-shadow(0px 0px 0px rgba(59, 255, 68, 0));
  /* The hovered Button */
}
body button.validate-input:hover {
  filter: drop-shadow(5px 5px 5px #3bff44);
}
body button.validate-input:hover::before {
  content: "#";
}
body button.validate-input::before,
body button.validate-input .icrate-button-label {
  color: #3bff44;
}
body button.validate-input::before {
  content: "O";
}
body #cto-indoctrination-observer {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
}
body #cto-indoctrination-observer > *[class^=cto-] {
  display: flex;
}
body #hzd-indoctrination-observer {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
}
body #hzd-indoctrination-observer > *[class^=hzd-] {
  display: flex;
}
body #fae-indoctrination-observer {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
}
body #fae-indoctrination-observer > *[class^=fae-] {
  display: flex;
}
main#icrate-wrapper-main {
  display: flex;
  background-image: url("/img/icrate-bg-01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  /* Unauthenticated */
  /* Authenticated */
  /* Konfiguration Sitelist */
  /* Module Overview */
  /* Application Views */
  /* Responsiveness */
}
main#icrate-wrapper-main .icreate-input-text,
main#icrate-wrapper-main .icreate-input-textarea,
main#icrate-wrapper-main .icreate-input-select,
main#icrate-wrapper-main .icreate-input-password {
  border: 0.5px solid black;
  padding: 3px;
  min-width: 125px;
}
main#icrate-wrapper-main .icrate-button-submit {
  border: none;
  margin: 0;
  padding: 0;
  min-width: 125px;
}
main#icrate-wrapper-main input[type=text],
main#icrate-wrapper-main input[type=textarea],
main#icrate-wrapper-main input[type=password],
main#icrate-wrapper-main select {
  padding: 3px;
}
main#icrate-wrapper-main input[type=text]::-moz-placeholder, main#icrate-wrapper-main input[type=textarea]::-moz-placeholder, main#icrate-wrapper-main input[type=password]::-moz-placeholder, main#icrate-wrapper-main select::-moz-placeholder {
  -moz-transition: all 1s ease-in 0.1s;
  transition: all 1s ease-in 0.1s;
  letter-spacing: 3px;
}
main#icrate-wrapper-main input[type=text]:-ms-input-placeholder, main#icrate-wrapper-main input[type=textarea]:-ms-input-placeholder, main#icrate-wrapper-main input[type=password]:-ms-input-placeholder, main#icrate-wrapper-main select:-ms-input-placeholder {
  -ms-transition: all 1s ease-in 0.1s;
  transition: all 1s ease-in 0.1s;
  letter-spacing: 3px;
}
main#icrate-wrapper-main input[type=text]::placeholder,
main#icrate-wrapper-main input[type=textarea]::placeholder,
main#icrate-wrapper-main input[type=password]::placeholder,
main#icrate-wrapper-main select::placeholder {
  transition: all 1s ease-in 0.1s;
  letter-spacing: 3px;
}
main#icrate-wrapper-main input[type=text]::-moz-placeholder:hover, main#icrate-wrapper-main input[type=textarea]::-moz-placeholder:hover, main#icrate-wrapper-main input[type=password]::-moz-placeholder:hover, main#icrate-wrapper-main select::-moz-placeholder:hover {
  -moz-transition: all 1s ease-out 0s;
  transition: all 1s ease-out 0s;
  letter-spacing: 9px;
}
main#icrate-wrapper-main input[type=text]:-ms-input-placeholder:hover, main#icrate-wrapper-main input[type=textarea]:-ms-input-placeholder:hover, main#icrate-wrapper-main input[type=password]:-ms-input-placeholder:hover, main#icrate-wrapper-main select:-ms-input-placeholder:hover {
  -ms-transition: all 1s ease-out 0s;
  transition: all 1s ease-out 0s;
  letter-spacing: 9px;
}
main#icrate-wrapper-main input[type=text]::placeholder:hover,
main#icrate-wrapper-main input[type=textarea]::placeholder:hover,
main#icrate-wrapper-main input[type=password]::placeholder:hover,
main#icrate-wrapper-main select::placeholder:hover {
  transition: all 1s ease-out 0s;
  letter-spacing: 9px;
}
main#icrate-wrapper-main [id^=icrate-wrapper-] {
  display: flex;
  margin: 0 auto;
}
main#icrate-wrapper-main [id^=icrate-wrapper-]:not([id=icrate-wrapper-login]) {
  cursor: url("/img/svg/mouse/cursor-auth-default.svg"), auto;
  cursor: url("/img/svg/mouse/hourglass-auth-full.svg"), auto, wait;
  cursor: url("/img/svg/mouse/cursor-auth-text.svg"), auto, text;
  cursor: url("/img/svg/mouse/cursor-auth-click.svg"), auto, click;
  cursor: url("/img/svg/mouse/cursor-auth-sonar.svg"), auto, cell;
  cursor: url("/img/svg/mouse/cursor-auth-hourglass.svg"), auto, progress;
  cursor: url("/img/svg/mouse/cursor-auth-light.svg"), auto, alias;
  cursor: url("/img/svg/mouse/cursor-auth-expand-horizontal.svg"), auto, col-resize;
  cursor: url("/img/svg/mouse/cursor-auth-expand-vertical.svg"), auto, row-resize;
  cursor: url("/img/svg/mouse/cursor-auth-resize-horizontal.svg"), auto, ew-resize;
  cursor: url("/img/svg/mouse/cursor-auth-resize-vertical.svg"), auto, ns-resize;
  cursor: url("/img/svg/mouse/cursor-auth-plus.svg"), auto, copy;
  cursor: url("/img/svg/mouse/cursor-auth-minus.svg"), auto, not-allowed;
  cursor: url("/img/svg/mouse/cursor-auth-zoom-in.svg"), auto, zoom-in;
  cursor: url("/img/svg/mouse/cursor-auth-zoom-out.svg"), auto, zoom-out;
  cursor: url("/img/svg/mouse/pointer-auth-finger.svg"), auto, pointer;
  cursor: url("/img/svg/mouse/pointer-auth-open-hand.svg"), auto, move;
}
main#icrate-wrapper-main #icrate-wrapper-login {
  margin: 0;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 4em - 25px);
  cursor: url("/img/svg/mouse/cursor-initial-white.svg"), auto;
}
main#icrate-wrapper-main #icrate-wrapper-login #icrate-user-validation-list {
  display: none;
}
main#icrate-wrapper-main #icrate-wrapper-login section.icrate-login-banner-dynamic {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  border-bottom: 2px solid #d3aa61;
  box-sizing: border-box;
  background-color: #040404;
  height: 75px;
  max-height: 75px;
  min-height: 75px;
}
main#icrate-wrapper-main #icrate-wrapper-login section.icrate-login-banner-dynamic header.icrate-login-banner-text {
  display: flex;
  margin: auto;
}
main#icrate-wrapper-main #icrate-wrapper-login section.icrate-login-banner-dynamic header.icrate-login-banner-text::before {
  display: flex;
  background-image: url("/img/icrate-iz-logo-animated.gif");
  background-size: contain;
  height: 60px;
  max-height: 60px;
  min-height: 60px;
  width: 60px;
  max-width: 60px;
  min-width: 60px;
  content: "";
}
main#icrate-wrapper-main #icrate-wrapper-login section.icrate-login-banner-dynamic header.icrate-login-banner-text .icrate-product-name,
main#icrate-wrapper-main #icrate-wrapper-login section.icrate-login-banner-dynamic header.icrate-login-banner-text .icrate-auth-status,
main#icrate-wrapper-main #icrate-wrapper-login section.icrate-login-banner-dynamic header.icrate-login-banner-text .icrate-auth-result {
  margin: auto;
  padding-right: 12px;
}
main#icrate-wrapper-main #icrate-wrapper-login section.icrate-login-banner-dynamic header.icrate-login-banner-text .icrate-product-name {
  border-right: 0.5px solid white;
  margin-right: 12px;
  margin-left: 12px;
  font-size: 15px;
  letter-spacing: 3px;
  font-weight: 900;
}
main#icrate-wrapper-main #icrate-wrapper-login section.icrate-login-banner-dynamic header.icrate-login-banner-text .icrate-auth-status {
  width: 500px;
  max-width: 500px;
  min-width: 500px;
  display: flex;
  padding: 0;
}
main#icrate-wrapper-main #icrate-wrapper-login section.icrate-login-banner-dynamic header.icrate-login-banner-text .icrate-auth-status p#icrate-auth-input-reflection,
main#icrate-wrapper-main #icrate-wrapper-login section.icrate-login-banner-dynamic header.icrate-login-banner-text .icrate-auth-status b {
  display: inline-flex;
  margin-top: auto;
  margin-bottom: auto;
}
main#icrate-wrapper-main #icrate-wrapper-login section.icrate-login-banner-dynamic header.icrate-login-banner-text .icrate-auth-status b {
  font-size: 18px;
  letter-spacing: 3px;
}
main#icrate-wrapper-main #icrate-wrapper-login section.icrate-login-banner-dynamic header.icrate-login-banner-text .icrate-auth-status p#icrate-auth-input-reflection {
  transition: all 3s ease-in 0.1s;
  margin-left: 15px;
  font-size: 15px;
  color: #ecebdd;
  letter-spacing: normal;
}
main#icrate-wrapper-main #icrate-wrapper-login section.icrate-login-banner-dynamic header.icrate-login-banner-text .icrate-auth-status p#icrate-auth-input-reflection.require-input:not(.validate-input):not(.possible-input) {
  transition: all 3s ease-in 0.1s;
  color: #ff6e6e;
  letter-spacing: normal;
}
main#icrate-wrapper-main #icrate-wrapper-login section.icrate-login-banner-dynamic header.icrate-login-banner-text .icrate-auth-status p#icrate-auth-input-reflection.validate-input:not(.possible-input) {
  transition: all 3s ease-out 0.2s;
  color: #2adfff;
  letter-spacing: 3px;
}
main#icrate-wrapper-main #icrate-wrapper-login section.icrate-login-banner-dynamic header.icrate-login-banner-text .icrate-auth-status p#icrate-auth-input-reflection.possible-input {
  transition: all 3s ease-out 0.2s;
  color: #3bff44;
  letter-spacing: 6px;
}
main#icrate-wrapper-main #icrate-wrapper-login section.icrate-login-banner-dynamic header.icrate-login-banner-text .icrate-auth-result {
  display: none;
}
main#icrate-wrapper-main #icrate-wrapper-login form {
  flex-direction: column;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
}
main#icrate-wrapper-main #icrate-wrapper-login form input {
  transition: all 1s ease-in 0.1s;
  margin: 21px auto auto auto;
  filter: drop-shadow(6px 6px 1px rgb(0, 0, 0));
  font-size: 18px;
}
main#icrate-wrapper-main #icrate-wrapper-login form input.icrate-input-mandatory::-moz-placeholder {
  -moz-transition: all 1s ease-in 0.1s;
  transition: all 1s ease-in 0.1s;
  color: #040404;
  letter-spacing: 3px;
  text-decoration: none;
}
main#icrate-wrapper-main #icrate-wrapper-login form input.icrate-input-mandatory:-ms-input-placeholder {
  -ms-transition: all 1s ease-in 0.1s;
  transition: all 1s ease-in 0.1s;
  color: #040404;
  letter-spacing: 3px;
  text-decoration: none;
}
main#icrate-wrapper-main #icrate-wrapper-login form input.icrate-input-mandatory::placeholder {
  transition: all 1s ease-in 0.1s;
  color: #040404;
  letter-spacing: 3px;
  text-decoration: none;
}
main#icrate-wrapper-main #icrate-wrapper-login form input.icrate-input-mandatory:hover:not(.entered-input):not(.focusing-input) {
  transition: all 1s ease-out 0s;
  filter: drop-shadow(6px 6px 4px #7a0202);
}
main#icrate-wrapper-main #icrate-wrapper-login form input.icrate-input-mandatory:hover:not(.entered-input):not(.focusing-input)::-moz-placeholder {
  -moz-transition: all 1s ease-out 0s;
  transition: all 1s ease-out 0s;
  color: #ff6e6e;
  letter-spacing: 9px;
  text-decoration: line-through;
}
main#icrate-wrapper-main #icrate-wrapper-login form input.icrate-input-mandatory:hover:not(.entered-input):not(.focusing-input):-ms-input-placeholder {
  -ms-transition: all 1s ease-out 0s;
  transition: all 1s ease-out 0s;
  color: #ff6e6e;
  letter-spacing: 9px;
  text-decoration: line-through;
}
main#icrate-wrapper-main #icrate-wrapper-login form input.icrate-input-mandatory:hover:not(.entered-input):not(.focusing-input)::placeholder {
  transition: all 1s ease-out 0s;
  color: #ff6e6e;
  letter-spacing: 9px;
  text-decoration: line-through;
}
main#icrate-wrapper-main #icrate-wrapper-login form input.icrate-input-mandatory:focus:not(.entered-input) {
  transition: all 1s ease-out 0s;
  filter: drop-shadow(3px 6px 1px #2adfff);
}
main#icrate-wrapper-main #icrate-wrapper-login form input.icrate-input-mandatory:focus:not(.entered-input)::-moz-placeholder {
  -moz-transition: all 1s ease-out 0s;
  transition: all 1s ease-out 0s;
  color: rgba(231, 78, 78, 0);
  letter-spacing: 9px;
  text-decoration: none;
}
main#icrate-wrapper-main #icrate-wrapper-login form input.icrate-input-mandatory:focus:not(.entered-input):-ms-input-placeholder {
  -ms-transition: all 1s ease-out 0s;
  transition: all 1s ease-out 0s;
  color: rgba(231, 78, 78, 0);
  letter-spacing: 9px;
  text-decoration: none;
}
main#icrate-wrapper-main #icrate-wrapper-login form input.icrate-input-mandatory:focus:not(.entered-input)::placeholder {
  transition: all 1s ease-out 0s;
  color: rgba(231, 78, 78, 0);
  letter-spacing: 9px;
  text-decoration: none;
}
main#icrate-wrapper-main #icrate-wrapper-login form input.icrate-input-mandatory.entered-input {
  transition: all 1s ease-out 0s;
  filter: drop-shadow(4px 4px 1px #3bff44);
}
main#icrate-wrapper-main #icrate-wrapper-login form input.icrate-input-mandatory.entered-input:hover {
  transition: all 1s ease-out 0s;
  filter: drop-shadow(4px 4px 3px #3bff44);
}
main#icrate-wrapper-main #icrate-wrapper-login form input.icrate-input-mandatory.entered-input:hover::-moz-placeholder {
  -moz-transition: all 1s ease-out 0s;
  transition: all 1s ease-out 0s;
  color: rgba(231, 78, 78, 0);
  letter-spacing: 9px;
  text-decoration: none;
}
main#icrate-wrapper-main #icrate-wrapper-login form input.icrate-input-mandatory.entered-input:hover:-ms-input-placeholder {
  -ms-transition: all 1s ease-out 0s;
  transition: all 1s ease-out 0s;
  color: rgba(231, 78, 78, 0);
  letter-spacing: 9px;
  text-decoration: none;
}
main#icrate-wrapper-main #icrate-wrapper-login form input.icrate-input-mandatory.entered-input:hover::placeholder {
  transition: all 1s ease-out 0s;
  color: rgba(231, 78, 78, 0);
  letter-spacing: 9px;
  text-decoration: none;
}
main#icrate-wrapper-main #icrate-wrapper-login form button {
  margin-top: 15px;
  background: url("/img/icrate-button-01.png") no-repeat;
  background-size: contain;
  padding-right: 15px;
  width: 248.3333333333px;
  max-width: 248.3333333333px;
  min-width: 248.3333333333px;
  height: 74.6666666667px;
  max-height: 74.6666666667px;
  min-height: 74.6666666667px;
}
main#icrate-wrapper-main #icrate-wrapper-app[class*=-customer] *[class*=-iz],
main#icrate-wrapper-main #icrate-wrapper-app[class*=-customer] *[id$=-iz] {
  display: none;
}
main#icrate-wrapper-main #icrate-wrapper-app[class*=-iz]::after {
  content: "impact-z.one internal use only!";
}
@media (max-width: 479px) {
  main#icrate-wrapper-main {
    /* Unauthenticated */
    /* Authenticated */
    /* Konfiguration Sitelist */
    /* Module Overview */
    /* Application Views */
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  main#icrate-wrapper-main {
    /* Unauthenticated */
    /* Authenticated */
    /* Konfiguration Sitelist */
    /* Module Overview */
    /* Application Views */
  }
}
@media (min-width: 480px) {
  main#icrate-wrapper-main {
    /* Unauthenticated */
    /* Authenticated */
    /* Konfiguration Sitelist */
    /* Module Overview */
    /* Application Views */
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  main#icrate-wrapper-main {
    /* Unauthenticated */
    /* Authenticated */
    /* Konfiguration Sitelist */
    /* Module Overview */
    /* Application Views */
  }
}
@media (min-width: 768px) {
  main#icrate-wrapper-main {
    /* Unauthenticated */
    /* Authenticated */
    /* Konfiguration Sitelist */
    /* Module Overview */
    /* Application Views */
  }
}
@media (min-width: 1024px) {
  main#icrate-wrapper-main {
    /* Unauthenticated */
    /* Authenticated */
    /* Konfiguration Sitelist */
    /* Module Overview */
    /* Application Views */
  }
}

/* Footer Section */
footer#icrate-wrapper-footer {
  display: flex;
  position: fixed;
  bottom: 0px;
  min-height: 25px;
  left: 0;
  right: 0;
  border-top: 2px solid #f3d98f;
  background-color: #040404;
  caret-color: transparent;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
footer#icrate-wrapper-footer p {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 9px;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}
footer#icrate-wrapper-footer p i,
footer#icrate-wrapper-footer p b {
  display: flex;
  margin: auto 12px;
  font-size: 13.5px;
  border-right: 0.5px solid white;
  padding-right: 12px;
  margin-right: 12px;
  font-weight: bolder;
  letter-spacing: 1px;
}
footer#icrate-wrapper-footer p b.icrate-footer-name {
  font-size: 15px;
  letter-spacing: 3px;
  font-weight: 900;
}
footer#icrate-wrapper-footer p b:not(.icrate-footer-name) {
  border-left: 0.5px solid white;
  padding-left: 12px;
  margin-left: 12px;
}
footer#icrate-wrapper-footer p a {
  margin-left: 12px;
}
footer#icrate-wrapper-footer p::before {
  display: flex;
  width: 28px;
  height: 28px;
  margin-top: -3px;
  background-image: url("/img/icrate-iz-logo-silver.png");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
}/*# sourceMappingURL=icrate-styles.css.map */