@import "../../scss/icrate-variables";
@import "../../scss/icrate-media-mixins";
@import "../../scss/icrate-entity-mixins";
@import "../../scss/icrate-perk-mixins";

body {
    margin: 0;
    padding: 0;

    @include body-greedy-grow {
        box-sizing: content-box;
    }
}

// iCrate - Root Wrapper
main#icrate-wrapper-main {
    display: flex;
    background-image: $icrate-background-01;
    background-repeat: repeat;

    font-family: $ci-font-family-primary;
    font-size: $ci-font-size-medium;

    @import "../../scss/icrate-elements";

    // Belonging to all Wrapper globally
    [id^="icrate-wrapper-"] {
        display: flex;
        margin: 75px auto;
    }

    /* Unauthenticated */
    // Login
    #icrate-wrapper-login {
        @include flex-centered-horizontal {
            margin-top: 2em;
            margin-bottom: calc(2em + $footer-height);
        }

        height: calc(100% - 4em - $footer-height);
    }

    /* Authenticated */

    /* Konfiguration Sitelist */
    // My Profile
    #icrate-wrapper-conf-profile {
    }

    /* Module Overview */
    // List of Applications
    #icrate-wrapper-modview {
        // The Applist shown as Cards
        &.cards {
        }

        // The Applist as List-Of-Lines (Single Lines)
        &.lines {
        }

        // The Applist shown like Ghost-Buttons
        &.ghosts {
        }

        // Surprise (procedural creation) Mode is active
        &.surprise-me {
        }
    }

    /* Application Views */
    // App Styling - General Purpose
    #icrate-wrapper-app {
        // For Customer - General use
        &[class*="-customer"] {
            // For security reasons every -iz internal element wont be shown hard coded
            *[class*="-iz"],
            *[id$="-iz"] {
                // Remove from layout
                display: none;
            }
        }

        // For impact-z.one internal use only - General use
        &[class*="-iz"] {
            &::after {
                content: "impact-z.one internal use only!";
            }
        }

        // Für Kunden: Liste aller PDFs als download
        &.purchase-order-projector-customer {
        }

        // Rechnungsdarstellung für den Kunden (Vorerst: Rechnung als PDF upload)
        &.purchase-order-creator-upload-iz {
        }

        // Angebotserstellung: Einfügen von bestimmten Platzhalterfeldern (z.B. Datum) an einer oder mehreren Stellen einer Word-Vorlage.
        &.purchase-order-creator-iz {
        }
    }

    /* Responsiveness */
    @import "../../scss/icrate-responsive-tiny";
    @import "../../scss/icrate-responsive-small";
    @import "../../scss/icrate-responsive-medium";
    @import "../../scss/icrate-responsive-large";
}

/* Footer Section */
// Wrapping the floating footer
footer#icrate-wrapper-footer {
    display: flex;

    position: fixed;
    bottom: 0px;

    min-height: $footer-height;

    left: calc(2 * $atomic-space-factor);
    right: calc(2 * $atomic-space-factor);

    border-top: 0.5px solid black;

    p {
        @include flex-centered-horizontal;

        padding: calc(3 * $atomic-space-factor);
        margin-block-start: 0;
        margin-block-end: 0;

        i,
        b {
            display: flex;
            margin: auto calc(2 * $atomic-space-factor);
            font-size: $ci-font-size-big;
        }

        a {
            margin-left: calc(2 * $atomic-space-factor);
        }
    }

    p::before {
        display: flex;

        width: calc($footer-height + $atomic-space-factor);
        height: calc($footer-height + $atomic-space-factor);

        margin-top: calc(calc(2 * $atomic-space-factor) * -1);
        margin-right: calc(2 * $atomic-space-factor);

        background-image: $iz-logo-anthrazit;
        background-repeat: no-repeat;
        background-size: contain;

        content: "";
    }
}
